{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    text-align: center;
    float: right;
  }
  
  a {
    display: block;
    color: blue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: gray;
  }
</style>
<div class="formwrapper">
    <ul>
      <li><a href="/">Home </a></li>
      <li><a href="/reservations">Reservations </a> </li>
      <li><a href="/admin"> Admin</a></li>
    </ul>
  <h2 class="title">Administrator Login</h2>

  {% if loggedIn %}
  <div id="seating-chart">
    <p>Total cost: {{total}}</p>
    Seating chart
    {% for seat in seats %}
    <p>{{seat[0]}} - {{seat[1]}} - {{seat[2]}} - {{seat[3]}} </p>
        {% endfor %}
  </div>
  {% endif %}
  <form method="POST" action="/admin">
    {% if err %}
    <p>{{err}}</p>
    {% endif %}
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}

        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
  
</div>
{% endblock %}
